*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  height: 100vh;
  background: linear-gradient(#BAE8E8 , #29DE92);
}
.logo-section{
  background: hsla(185, 44%, 65%, 0.7);
  box-shadow: 0 4px 20px hsla(185, 44%, 65%, 0.7);
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  display: flex;
  height: 10%;
  width: 100%;
  font-size: 1.3rem;
}
.card-box{
  /* border: 1px solid green; */
  height : 90%;
  width: 100%;
  display: grid;
  place-items: center;
}

.logo{
  border: 1px solid black;
  height: 100%;
  width : 5em;
}
.card{
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 1rem;
  background: url("../allphotos/football.jpg");
  background-size: auto 100vh;
  background-position: bottom;
  font-size: 1.2rem;
  height: 80%;
  width: 90vw;
  border-radius: 5%;
  box-shadow: 1px 4px 10px;
  position: relative;
}

.similar{
  height: 20%;
  display: flex;
  align-items: center;
}


.bottom{
   position : absolute;
   bottom : 0;
   width: 100%;
   height: auto;
 }
 .bottom a{
   text-decoration: none;
   color : white;
 }
.inner{
  height: 100%;
  width : 100%;
  border: 1px solid skyblue;
  background: black;
  opacity: 80%;
  box-shadow: 1px -3px 10px;
  color: white;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.similar-all{
  display: grid;
  place-items: center;
  height: 7vh;
  text-decoration: none;
}
.card div{
   margin-top: 30%;
   border-radius: 50%;
   height: 15vh;
   width: 15vh;
   /* border: 1px solid black; */
   display: grid;
   background: white;
   place-items: center;
   box-shadow: 0px 0px 30px 10px white;
}
.card .data{
  padding: 30px 0 ;

}
.entered{
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 0 5%;
  color : #162447;
  border-radius: 20%;
  bottom : 30%;
  box-shadow: 1px 0px 10px;
  background: #E3F6F5;
}


@media screen and (min-width: 700px){
  .card{
    display: flex;
    max-width: 50vw;
    background: red;
    justify-content: space-between;
  }
  .data{
    margin : 0 10%;
  }
}

@media screen and (max-width: 800px){
  .logo-section{
    height: 7%;
  }
}
